/* @font-face {
    font-family: "ghlo";
    src: url('./h40lzxYWoYlL.woff');
    font-weight: normal;
    font-style: normal;
} */
@font-face {
    font-family: "ghl";
    src: url('./QbHAjq1Se6EQ.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "ghlh";
    src: url('./h40lzxYWoYlL.woff');
    font-weight: normal;
    font-style: normal;
}